# Python
__pycache__/
*.py[cod]
*$py.class
*.so
vv/

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.vscode*
*.swp
*.swo

# OS
.DS_Store
*.DS_Store
Thumbs.db

# R
.Rproj.user

# Environment variables
.env

# Distribution
dist/
build/
*.egg-info/
*.egg

# Node
node_modules/